/*@media only screen and (min-width:769px) {}*/
@media screen and (min-device-width:769px) {
	body{
		margin: 0;
		padding: 0;
	}
	.contentbox{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-right: 20px;
		width: 100%;
		border:1px solid #999;
		height: 700px;
	}
	
	.contentbox>div{
		height: 70px;
		box-sizing: inherit;
		padding-top: 20px;
		padding-left: 20px;
		float: left;
		
	}
	.contentbox>div>div{
		

		background: #eee;
		border:1px solid #999;
		height: 50px;
		box-sizing: inherit;

	}
	.box_1{

    	width: 8.33333333%;
	}
	.box_2{

    	width: 16.66666667%;
		
	}
	.box_3{

   		width: 25%;
		
	}
	.box_4{

    	width: 33.33333333%;
		
	}
	.box_6{

    	width: 50%;
		
	}
	
		
	
}
/*@media only screen and (max-width:768px) {}*/
@media screen and (max-device-width:768px) {
	body{
		margin: 0;
		padding: 0;
	}
	.contentbox{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding-right: 20px;
		width: 100%;
		border:1px solid #999;
		height: 700px;
	}
	
	.contentbox>div{
		height: 70px;
		box-sizing: inherit;
		padding-top: 20px;
		padding-left: 20px;
		float: left;
		
	}
	.contentbox>div>div{
		

		background: #eee;
		border:1px solid #999;
		height: 50px;
		box-sizing: inherit;

	}
	
	.box2{
    	width: 16.66666667%;

		
	}
	.box3{
   		width: 25%;

		
	}
	
	.box6{
    	width: 50%;

		
	}
	.box8{
    	width: 66.66666667%;

		
	}
	.box12{
    	width: 100%;

		
	}
}